@charset "utf-8";

@font-face {
    font-family:ptrootui;
    src:url("../media/font/ptrootui.woff");
}

@font-face{
    font-family:ptrootuibold;
    src:url("../media/font/ptrootuibold.woff");
}

/*общие стили*/
html{
    font-size:100%;
    font-family:ptrootui;
}

body{
    background-image:url("../media/img/backgroundimages/mainbg.svg");
    background-color:rgb(234, 234, 234);
    padding:3.75rem 0 0 0;
    margin:0;
}
/*общие стили, конец*/

/*компонент с карточками, версия лонг*/
.deck_container{
    max-width:18rem;
    width:100%;
    margin: 0 auto;
    position:relative;
}

.desck_card_back{
    width:16rem;
    height:29rem;
    margin:0 auto;
    background-color:#ffff;
    box-shadow: 0px -5px 15px 2px rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    position: relative;
}

.desck_card_front{
    max-width:18rem;
    width:100%;
    margin: 0 auto;
    padding-top:1.2rem;
    background-color:#ffff;
    box-shadow: 0px -5px 15px 2px rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    position: absolute;
    top: 2rem;
}

.desck_card_front h1{
    text-align:center;
    font-family:ptrootuibold;
    font-size:1.1rem;
    font-style:normal;
    font-weight:800;
    color:rgb(79, 79, 79);
    margin:0;
}

.circul{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    padding:3.125rem 0 3.75rem 0;
}

.circul_backgroundgirl{
    position:relative;
    z-index:2;
}

.circul_backgroundcircle{
    position:absolute;
    z-index:1;
    top: 25%;
}
/*компонент с карточками, версия лонг, конец*/

/*школьный заголовок компонент*/
.school_title{
    max-width: 18rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom:1.5rem;
}

.school_title h1{
    font-size:1.2rem;
    font-weight:700;
    text-align:center;
    font-family:ptrootuibold;
    color:rgb(79, 79, 79);
    margin:0;
}

.school_title p{
    font-size:.8rem;
    font-weight:500;
    text-align:center;
    font-family:ptrootui;
    color:rgb(79, 79, 79);
    margin:0;
}

/*школьный заголовок компонент, конец*/

/*компонент с карточками, версия шорт*/

.desck_shortcard_back{
    width:16rem;
    height:23rem;
    margin:0 auto;
    padding-bottom:1rem;
    background-color:#ffff;
    box-shadow: 0px -5px 15px 2px rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    position: relative;
}

.desck_shortcard_front{
    max-width:18rem;
    width:100%;
    height:21rem;
    margin: 0 auto;
    padding-top:1.2rem;
    padding-bottom:1.2rem;
    background-color:#ffff;
    box-shadow: 0px -5px 15px 2px rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    position: absolute;
    top: 1.8rem;
}

.desck_shortcard_front h1{
    text-align:center;
    font-family:ptrootuibold;
    font-size:1.1rem;
    font-style:normal;
    font-weight:800;
    color:rgb(79, 79, 79);
    margin:0;
}

.wrapper_actionzone{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:15rem;
}

/*компонент с карточками, версия шорт, конец*/



/*компонент оценки*/

.wrapper_estimation{
    border:none;
    position:relative;
    width:12.5rem;
    height:2rem;
    padding:0;
    background-image:url("../media/img/backgroundimages/soup_rating.svg");
    background-size:2.5rem;

}

.rating_point{
    position: absolute;
    margin:0;
    top:0;
    left:0;
    height:2rem;
    background-size:2.5rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.rating_point:focus{
    outline: none;
}

.rating_point:checked{
    background-image:url("../media/img/backgroundimages/onsoup_rating.svg");

}

.rating_point:nth-of-type(1){
    width:2.5rem;
    z-index:5;
}

.rating_point:nth-of-type(2){
    width:5rem;
    z-index:4;
}

.rating_point:nth-of-type(3){
    width:7.5rem;
    z-index:3;
}

.rating_point:nth-of-type(4){
    width:10rem;
    z-index:2;
}

.rating_point:nth-of-type(5) {
    width: 12.5rem;
    z-index: 1;
}

.number{
    font-style:normal;
}
/*компонент оценки, конец*/



/*прогрессбар*/
.progresspoint_container, .actionbutton_container{
    max-width:18rem;
    width:100%;
    margin:0 auto;
}

.wrapper_point{
    width:5rem;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    padding-top:2.6rem;
    padding-bottom:1.6rem;
}

.point{
    width:1.1rem;
    height:1.1rem;
    background-color: #DADADA;
    border-radius:50%;
}

/*прогрессбар, конец*/



/*кнопка далее*/

wrapper_button{
    margin:0 auto;
    max-width:18rem;
}

.action_button{
    width:100%;
    background-color: #FF5F33;
    border-radius: .6rem;
    border:0px;
    height:3.25rem;
    color:#fff;
    font-size:1.1rem;
    font-weight:500;
    font-family:ptrootui;
}

/*кнопка далее, конец*/
