@charset "utf-8";

@font-face {
    font-family: ptrootui;
    src: url("../media/font/ptrootui.woff");
}

@font-face {
    font-family: ptrootuibold;
    src: url("../media/font/ptrootuibold.woff");
}

html {
    font-size: 100%;
    font-family: ptrootui;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3rem;
    height: 100vh;
}

.login-body {
    padding-top: 0;
}

/*стили для внутренней страницы*/

.profile-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3rem;
}

.profile-wrapper input[type="submit"]{
    background: none;
    border: .1rem solid black;
    border-radius: .3rem;
    margin-left: 1rem;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper a, .button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    background-color: darkorange;
    padding: .25rem;
    border-radius: .25rem;
}

.button {
    cursor: pointer;
}

.button > img{
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    object-position: center;
    margin-right: .5rem;
}

.small-button {
    font-size: .75rem;
}

.container {
    max-width: 60rem;
    width: 100%;
    margin: auto;
}

.data-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.data-table > .row, .data-table > .review-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .5rem 0;
}

.data-table > .row > .col, .data-table > .review-row > .col {
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.data-table > .review-row, .data-table > .row{
    border-bottom: 1px solid #eee;
}

.data-table > .review-row > .col{
    width: 10rem;
}

.data-table > .row > .col:first-child {
    width: 25rem;
}

.data-table > .row > .col:nth-child(2) {
    width: 20rem;
}

.data-table > .row > .col:nth-child(3) {
    width: 5rem;
}

.data-table > .row > .col:last-child {
    padding-left:4rem;
}

.data-table > .row > .col:last-child > a {
    margin-bottom: .5rem;
}

.data-table > .row > .col:nth-last-child(3) {
    width: 8rem;
}

.data-table > .row > .col:nth-last-child(2) {
    width: 5rem;
}

.data-table > .review-row > .col:first-child, .data-table > .review-row > .col:nth-child(2) {
    width: 5rem;
}

.data-table > .review-row > .col:last-child {
    width: 15rem;
}

.data-table > .review-row > .col > img {
    max-width: 15rem;
    object-fit: contain;
    object-position: center;
}

.negative-color {
    color: #fa603a;
}

.positive-color {
    color: #7cfa46;
}

.data-table > .review-row > .text-col {
    width: 20rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header > div:first-child {
    width: 70%;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-wrapper > a {
    margin-left: 1rem;
}

.create-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.create-form > input {
    margin-bottom: 1rem;
    padding: .5rem;
}

.create-form > input[type="submit"] {
    border: none;
}

#logout-button {
    padding: .5rem;
    cursor: pointer;
}

/*стили для внутренней страницы, конец*/



/*стили для страницы авторизации*/

.login-form-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form{
    max-width: 20rem;
    width:100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: .3rem;
    border: .01rem solid black;
}

.login-form h2{
    margin-top:0;
}

.login-form input{
    width: 18rem;
    margin-bottom: 1rem;
}

.login-form input[type="submit"]{
    width:10rem;
}

/*стили для страницы авторизации*/
