@charset "utf-8";

@font-face {
    font-family:ptrootui;
    src:url("../media/font/ptrootui.woff");
}

@font-face{
    font-family:ptrootuibold;
    src:url("../media/font/ptrootuibold.woff");
}

/*общие стили*/
html{
    font-size:100%;
    font-family:ptrootui;
}

body{
    background-image:url("../media/img/backgroundimages/mainbg.svg");
    background-color:rgb(234, 234, 234);
    padding:2.2rem 0 0 0;
    margin:0;
}
/*общие стили, конец*/

